* {
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}

.main {
    background-image: url("assets/images/bg1.jpg");
    background-size: max(1920px, 100vw);
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;

    position: relative;
   

}

.main .box {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.72;
    background-color: black;
}

nav {
    max-width: 75vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
nav img{
    color: red;
    width: 145px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 0px 30px;
}
.hero >:first-child{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}
.hero :nth-child(2){
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.hero :nth-child(3){
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.line{
    height: 7px;
  background-color: rgb(46,44,44);
}
.btn{
    padding: 3px 8px;
   font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.227);
    border-radius: 5px;
    cursor: pointer;
   
}
.btn-red-sm{
    background-color: red;
    color: white;
    border-radius: 5px;
    
}
.main input{
    padding: 14px 132px 13px 12px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 600;
    background-color: rgba(23,23,23,0.2);
    border: 1px solid rgba(246,238,238,0.);


}
.btn-red{
    background-color: red;
    color: white;
    padding: 8px 30px;
    font-size: 22px;
    font-weight: bolder;
    border-radius: 6px;
    box-sizing: border-box;

}
.hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;

}

.frist{
    display: flex;
    /* justify-content: center; */
    max-width: 75vw;
    height: 90vh;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center; 
    /* flex-wrap: wrap;   */
    
}

.secimg img{
    margin-top: 6px;
    width: 620px;
    position: relative;
    z-index: 10;
}
.secimg{
    position: relative;
}
.secimg video{
    position: absolute;
    width: 450px;
    top: 92px;
    right: 86px;

}
section .frist >div{
    display: flex;
    flex-direction: column;
    gap: 15px;
   
}
 .frist >div :first-child{
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}
.frist >div :nth-child(2){
    font-size: 20px;
    font-weight: 600;
    text-align: center;

}
.third .secimg video{
    position: absolute;
    width: 400px;
    top: 60px;
    right: 106px;
    
}
.faq{
    background-color: black;
    color: white;
    padding-top: 35px;
    padding-bottom: 100px;
}
.faq h2{
    padding-top: 20px;
   padding-bottom: 20px;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}
.faqbox:hover{
    background-color: #414141;
}
.faqbox{
    transition: all 1s ease-out;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 70vw;
    margin: 10px auto;
    cursor: pointer;
}
.faqbox svg{
    filter: invert(1);
}
footer{
    color: white;
    max-width: 70vw;
    margin: auto;
    padding: 34px;

}
footer .question{
    padding: 34px 0;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer a{
    color: white;
    font-size: 14px;
    gap: 10px;
}
.email h3{
   padding: 15px 24vw ;
   padding-bottom: 20px;
   font-size: 24px;
   font-weight: bolder;

}
.footer-email input{
    padding: 15px 230px 14px 5px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 600;
    background-color: rgba(23,23,23,0.2);
    border: 1px solid rgba(246,238,238,0.);
}
@media screen and (max-width: 890px) {
    nav {
        max-width: 90vw;
    }

    .frist{
        flex-wrap: wrap;
    }
    .secimg img{
        margin-top: 3.6px;
        width: 372px;
        position: relative;
        z-index: 5;
    }
    .secimg video{
        position: absolute;
        width: 270px;
        top: 55px;
        right: 51px;
    }
    .third .secimg video{
        position: absolute;
        width: 240px;
        top: 36px;
        right: 64px;
        
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 75px;
    }
    .hero >:first-child{
        font-size: 34px;
        font-weight: 900;
        text-align: center;
    }
    .hero :nth-child(2){
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }
    .hero :nth-child(3){
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }
    .hero-buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 14px;
    
    }
    .frist >div :first-child{
        font-size: 34px;
        /* font-weight: bolder; */
        /* text-align: center; */
    }
    .frist >div :nth-child(2){
        font-size: 18px;
       
        
    }
    .email h3{
        padding: 10px 10vw ;
        padding-bottom: 15px;
        font-size: 18px;
       
     
     }
     .faq h2{
        padding-top: 15px;
       padding-bottom: 15px;
        text-align: center;
        font-size: 34px;
        font-weight: bolder;
        
    }
    
}